@charset 'UTF-8';



* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0F061F;
    
}

div.wrapper {
    display: flex;
    box-sizing: border-box;
}

.layout {
    height: 100%;
    width: 527px;
    box-sizing: border-box;
    border: 5px solid black;
    background-image: url("images/background/fundo-ciberpunk.png");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(66, 1, 66);

}


div.header {
    height: 1em;
    width: 100%;
    position: relative;
    background-color: black;
    text-align: center;
}

.game-name > p {
    color: white;
    cursor: default;
}

.score {
    position: relative;
    left: 45%;
    top: 20px;
}

.score > p {
    display: inline;
    padding: 15px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(255, 217, 0, 0.533);
}

div#clicker {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex: 2;
    box-sizing: border-box;

}

.background-clicker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#clicker > .layout > .background-clicker > button {
    height: 0px;
    width: 0px;
    cursor: pointer;
    position: relative;
    right: calc(20px + 5%);
    top: 100px;
}

div#clicker > .layout > .background-clicker > button > img {
    position: relative;
    right: 50px;
    bottom: 50px;
    width: calc(40px + 2vw);
}


div.upgrades-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}

a.upgrades-btn {
    position: absolute;
    top: 1%;
    right: 0.5%;
    background-color: gold;
    padding: 2px 2px 0px 3px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: default;
}

div.upgrades {
    display: none;
    width: 400px;
    height: 200px;
    position: absolute;
    right: 00px;
    top: 39px;
    border: 5px solid black;
    background-color: rgba(136, 57, 57, 0.711);
    border-radius: 10px;
    overflow: scroll;
    overflow-x: hidden;
}

.wrapper > .upgrades-container > a.upgrades-btn:hover div.upgrades {
    display: block;
}

div.upgrades::-webkit-scrollbar {
    width: 20px;
    z-index: 10;
}

div.upgrades::-webkit-scrollbar-track {
    background-color: rgba(255, 0, 0, 0.239);
    border-radius: 0px 10px 10px 0px;
    z-index: 10;
}

div.upgrades::-webkit-scrollbar-thumb {
    background-color: rgb(255, 0, 0);
    border-radius: 0px 10px 10px 0px;
    z-index: 10;
}

.power-up {
    background-color: rgb(170, 156, 80);
    border-radius: 5px;
    border: 3px solid black;
    width: 95%;
    height: 80px;
    margin: 2px 0px 1px 5px;
    cursor: pointer;
}

.sign {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(255, 72, 0);
}

.power-up:hover {
    background-color: gold;
}
