@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Indie+Flower&family=Lobster&family=Pangolin&display=swap');

:root {

    --font01: 'Indie Flower';
    --font02: 'Dancing Script';
    --font03: 'Lobster';
    --font04: 'Pangolin';
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background-color: #0F061F;
    
}

div.wrapper {
    display: flex;
    box-sizing: border-box;
}

#clicker {
    display: flex;
    justify-content: center;
}

@keyframes gradient-animation {
    0% {
        left: 0px;
    }

    100% {
        left: -1100px;
    }
}

.background-animation {
    animation-name: gradient-animation;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    position: relative;
    left: -1100px;
    width: 1500px;
    height: 100vh;
    top: -355px;
    background-image: linear-gradient(to right, #662D8C, #ED1E79);
}

.watch {
    background-color: black;
    overflow: hidden;
    height: 100vh;
    width: 400px;
    border: 5px solid rgb(255, 0, 153);
    box-sizing: border-box;
}

#clickerbutton {
    position: relative;
    top: 39%;
    z-index: 2;
    left: 200px;
    cursor: pointer;
    width: 200px;
    animation-name: rotation;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    transform: translate(-50%, -50%);
}

@keyframes rotation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(180deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.layout {
    overflow: hidden;
    height: 100vh;
    width: 525px;
    box-sizing: border-box;
    border: 5px solid black;
    background-image: url("images/background/backgroundanimation.gif");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(66, 1, 66);
    margin: 0px 0px;
}


div.header {
    height: 1.2em;
    width: 100%;
    position: relative;
    background-color: black;
    z-index: 10;
}

#open-menu {
    color: white;
    margin-left: 20px;
    background-color: red;
    padding: 0px 5px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
    font-family: var(--font04);
}

#open-menu:hover {
    background-color: gold;
    color: black;
}

#menu {
    width: 200px;
    height: 170px;
    background-color: black;
    position: relative;
    top: 10px;
    left: 20px;
    display: none;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    line-height: 40px;
    border-radius: 20px;
    border: 1px solid white;
}

.arrow {
    width: 10px;
    height: 10px;
    background-color: black;
    transform: rotate(45deg);
    position: relative;
    left: 10px;
    top: -15px;
    border-top: 1px solid white;
    border-left: 1px solid white;
}

.btn {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid red;
    cursor: pointer;
    font-family: var(--font04);
}

.btn:active {
    background-color: red;
}

.btn:hover {
    background-color: gold;
}

#estatisticas {
    background-color: white;
    
}

.resetgame {
    background-color: rgb(113, 47, 47);
    border: 1px solid gold;
    color: white;
}

.resetgame:hover {
    background-color: red;
}

.scores {
    font-family: var(--font04);
    position: relative;
    left: 10px;
    width: 340px;
    top: 10px;
    z-index: 2;
    display: block;
    padding: 15px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(255, 217, 0, 0.533);
}

#watchesPerSecond {
    padding-right: 5px;
    border-right: 1px solid black;
}

#watchesPerSecond, #clickingPower {
    font-size: .7em;
}

div#clicker {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex: 2;
    box-sizing: border-box;

}

.background-clicker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 525px;
    height: 100vh;
    position: absolute;
    transform: translate(-50%, -50%);
}

#little-man {
    position: relative;
    top: 500px;
    left: 80%;
}

div#clicker > .layout >.background-clicker > button > img {
    position: relative;
    right: 30px;
    bottom: 50px;
    width: 50px;
}

#little-cat {
    position: relative;
    width: 25px;
    top: 330px;
    left: 20px;
}

.rain {
    height: 2px;
    width: 30px;
    background-color: rgba(0, 0, 255, 0.463);
    position: relative;
    transform: rotate(90deg);
    animation-name: rain;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.drop1 {
    left: 100px;
    animation-duration: 0.8s;
}
.drop2 {
    left: 432px;
    animation-duration: 0.7s;
}
.drop3 {
    left: 50px;
    width: 10px;
    animation-duration: 1.1s;

}
.drop4 {
    left: 200px;
    animation-duration: 0.7s;

}
.drop5 {
    left: 467px;
    animation-duration: 0.8s;

}
.drop6 {
    left: 500px;
    width: 15px;
    animation-duration: 0.75s;

}
.drop7 {
    left: 280px;
    animation-duration: 0.63s;

}
.drop8 {
    left: 231px;
    animation-duration: 0.7s;

}
.drop9 {
    left: 354px;
    width: 20px;
    animation-duration: 0.78s;
}

.drop10 {
    left: 20px;
    width: 14px;
    animation-duration: 0.61s;
}

.drop11 {
    left: 41px;
    animation-duration: 0.58s;
}

.drop12 {
    left: 120px;
    animation-duration: 0.64s;
}

.drop13 {
    left: 79px;
    animation-duration: 0.71s;
}

.drop14{
    left: 489px;
    animation-duration: 0.77s;
}

@keyframes rain {
    0% {
        top: -30%;
    }
    100% {
        top: 100%;
    }
}


div.upgrades-container {
    width: 300px;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.store-img {
    width: 100%;
}

#upgradeContainer {
    width: 300px;
    height: 50px;
    background-color: black;
    border-left: 1px solid white;
    border-right: 1px solid white;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#improvement {
    position: relative;
    left: 25px;
    box-sizing: border-box;
    height: 90%;
    top: 50%;
    width: 50px;
    cursor: pointer;
    background-image: linear-gradient(45deg, lightgreen, purple);
    border: 2px solid gold;
    margin: 0px 3px;
    transition: 1s;
} 

#improvement:hover {
    background-image: linear-gradient(45deg, black, red);
}

.improveimg {
    width: 35px;
    height: 35px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#shopContainer {
    background-color: rgb(31, 34, 95);
    border: 1px solid black;
    border-radius: 0px 0px 10px 10px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding-top: 5px;
    max-height: 68vh;
    overflow: auto;
    box-shadow: 2px 2px 5px black;
}

.power-up {
    width: 260px;
    height: 80px;
    background-color: white;
    margin: 10px;
    cursor: pointer;
    font-family: var(--font04);
    color: yellow;
    border: 2px solid purple;
    visibility: visible;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 5px black;
    text-shadow: 2px 2px 5px black;
}

#cursorimg {
    position: relative;
    flex: 1;
    border-right: 3px solid black;
    margin-right: 5px;
}

.upgrade-hover {
    position: relative;
    width: 100px;
    flex: 2;
    visibility: visible;
    padding-top: 15px;
}

#amount {
    flex: 2;
    text-align: center;
    line-height: 80px;
    font-size: 2.4em;
    color: white;
}

#menimg, #catimg, #cursorimg {
    width: 50px;
    padding: 5px 10px;
    box-sizing: border-box;
    background-color: purple;
    border-radius: 0px 30px 30px 0px;
}

.name {
    font-size: 1.5em;
    color: pink;
}

.men, .cat, .cursor{
    background-color: rgb(48, 13, 81);
}

.men:hover, .cat:hover, .cursor:hover {
    background-color: rgb(102, 53, 147);
}