@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Indie+Flower&family=Lobster&family=Pangolin&display=swap');

:root {

    --font01: 'Indie Flower';
    --font02: 'Dancing Script';
    --font03: 'Lobster';
    --font04: 'Pangolin';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0F061F;
    
}

div.wrapper {
    display: flex;
    box-sizing: border-box;
}

#clicker {
    display: flex;
    justify-content: center;
}

.layout {
    height: 100%;
    width: 525px;
    box-sizing: border-box;
    border: 5px solid black;
    background-image: url("images/background/fundo-ciberpunk.png");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(66, 1, 66);
    margin: 0px 20px;
}


div.header {
    height: 1em;
    width: 100%;
    position: relative;
    background-color: black;
    text-align: center;
}

.game-name > p {
    color: white;
    cursor: default;
}

.score {
    position: relative;
    left: 40%;
    top: 20px;
    display: inline;
    padding: 15px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(255, 217, 0, 0.533);
}

div#clicker {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex: 2;
    box-sizing: border-box;

}

.background-clicker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
    position: absolute;
    transform: translate(-50%, -50%);
}

div#clicker > .layout >.background-clicker > button {
    height: 0px;
    width: 0px;
    cursor: pointer;
    position: relative;
    top: 70vh;
    left: 30vw;
}

div#clicker > .layout >.background-clicker > button > img {
    position: relative;
    right: 30px;
    bottom: 50px;
    width: calc(40px + 2vw);
}

.watch {
    background-color: black;
    height: 100vh;
    width: 400px;
    border: 1px solid red;
}

div.upgrades-container {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}


.power-up {
    width: 80px;
    height: 120px;
    background-color: white;
    border-radius: 50px;
    border: 3px solid black;
    margin: 2px 0px 1px 5px;
    cursor: pointer;
    font-family: var(--font04);
    color: yellow;

}

#menimg {
    width: 30px;
}

#menupgrade {
    display: block;
}

.men {
    background-color: blueviolet;
}

.men:hover {
    background-color: rgb(102, 53, 147);
}